{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {% if existing_profile %}
            <h3>Edit Your Profile</h3>
            <img 
                src="{{ existing_profile.avatar.url }}" 
                alt="Avatar image of {{ existing_profile.nickname }}"
                width="100"
                height="100">
            {% else %}
            <h3>Create a Profile</h3>
            {% endif %}

            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Save Profile">
                {{ form.errors }}
            </form>
        </div>
    </div>


{% endblock %}