/* These css elements style the whole site, and the base.html template */

.transition-on {
    transition: 0.8s all;
}

body {
    background-color: #f0f0f0;
}

footer {
    height: 50px;
}

a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-weight: bold;
    transition: 0.2s all;
    border-bottom: 2px solid transparent;

}

a:hover {
    color: black;
    border-color: black;
}

nav a:hover {
    color: white;
    border-color: white;
}